<div class="bg-cover w-full px-4">
  <div class="mt-4 flex flex-col gap-4 items-center justify-center w-full">
    <!-- Store Name and Image -->
    <div class="bg-accent/30 p-4 rounded-lg flex flex-row justify-between w-full">
      <div class="flex flex-row items-center gap-2">
        <link-button href="/embed/variant/{{ variantId }}/" data-id="000001" data-label="" data-variant="ghost"
          data-href="">
          <fade-in-image alt="website logo" src="{{ image }}"
            class="h-6 w-6 rounded-full object-contain"></fade-in-image>
        </link-button>
        <span class="text-sm font-bold">
          {{ name }}
        </span>
      </div>
      <link-button href="/embed/payment/" data-variant="ghost" data-id="000001" data-label="" data-href=""
        class="flex duration-500 justify-center items-center gap-3 rounded-md text-xl h-10 w-10 bg-white/10 hover:bg-white/25 relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-shopping-cart">
          <circle cx="8" cy="21" r="1" />
          <circle cx="19" cy="21" r="1" />
          <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
        </svg>
        <span id="cart-count"
          class="h-4 w-4 bg-[--accent-color] text-xs rounded-full aspect-square absolute top-0 right-0 translate-x-1/3 -translate-y-1/3 flex items-center justify-center text-white leading-none">
          0
        </span>
      </link-button>

    </div>

    <!-- LiquidJs Childrens -->
    {% block content %}{% endblock %}
    <!-- React Component Childrens -->
    <outlet></outlet>
  </div>
</div>