<div id="faq" class="py-10 sm:py-16 lg:py-24">
        <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
          <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-3xl font-bold leading-tight text-white sm:text-4xl lg:text-5xl">Questions & Answers</h2>
            <p class="max-w-xl mx-auto mt-2 text-base leading-relaxed text-muted-foreground/60">Explore the common
              questions and answers
              about Celebration</p>
          </div>

          <div class="grid grid-cols-1 mt-12 md:mt-20 md:grid-cols-2 gap-y-16 gap-x-20">
            <div class="flex items-start">
              <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-muted-foreground/30 rounded-full">
                <span class="text-lg font-semibold text-white">?</span>
              </div>
              <div class="ml-4">
                <p class="text-xl font-semibold text-white">Can I make payments using my preferred method?</p>
                <p class="mt-2 text-base text-muted-foreground/60">Yes, we support a wide range of payment methods,
                  including popular fiat options like Credit Cards as well as various crypto currencies. This enables
                  you
                  to make payments using the method that is most convenient for you.</p>
              </div>
            </div>

            <div class="flex items-start">
              <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-muted-foreground/30 rounded-full">
                <span class="text-lg font-semibold text-white">?</span>
              </div>
              <div class="ml-4">
                <p class="text-xl font-semibold text-white">Is it safe to make payments?</p>
                <p class="mt-2 text-base text-muted-foreground/60">Yes, we take security very seriously. We use advanced
                  fraud prevention measures to protect against fraudulent transactions and we do not store sensitive
                  payment
                  information.</p>
              </div>
            </div>

            <div class="flex items-start">
              <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-muted-foreground/30 rounded-full">
                <span class="text-lg font-semibold text-white">?</span>
              </div>
              <div class="ml-4">
                <p class="text-xl font-semibold text-white">How do I make a purchase?</p>
                <p class="mt-2 text-base text-muted-foreground/60">Making a purchase is easy. Simply browse the
                  available products and add the ones you wish to purchase to your cart. When you are ready to checkout,
                  you will be prompted to enter your payment information and complete the transaction.</p>
              </div>
            </div>

            <div class="flex items-start">
              <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-muted-foreground/30 rounded-full">
                <span class="text-lg font-semibold text-white">?</span>
              </div>
              <div class="ml-4">
                <p class="text-xl font-semibold text-white">What is the return policy for purchases?</p>
                <p class="mt-2 text-base text-muted-foreground/60">The return policy for purchases will vary depending
                  on the specific product being purchased. It is important to review the return policy for each product
                  before making a purchase to ensure that you understand the terms and conditions.</p>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center mt-12 md:mt-20">
            <div class="px-8 py-2 text-center text-sm border border-muted-foreground/30 rounded-full">
              <p class="text-gray-50">Didn’t find the answer you are looking for? <a href="#" title=""
                  class="text-[--accent-color] transition-all duration-200 hover:underline">Contact
                  our support</a></p>
            </div>
          </div>
        </div>
      </div>