<div id="how-it-works" class="py-10 sm:py-16 lg:py-24">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-3xl font-bold leading-tight sm:text-4xl lg:text-5xl">How does it work?</h2>
            <p class="max-w-lg mx-auto mt-2 text-base leading-relaxed text-muted-foreground/60">
              Shopping made simple in three easy steps!
            </p>
          </div>

          <div class="relative mt-12 lg:mt-20">
            <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
              <Image class="w-full" width="875" height="48"
                src="https://cdn.rareblocks.xyz/collection/celebration/images/steps/2/curved-dotted-line.svg" alt="" ></Image>
            </div>

            <div class="relative grid grid-cols-1 text-center gap-y-12 md:grid-cols-3 gap-x-12">
              <div>
                <div
                  class="flex items-center justify-center w-16 h-16 mx-auto bg-[--accent-color] border-2 border-[--accent-color] rounded-full shadow">
                  <span class="text-xl font-semibold text-white"> 1 </span>
                </div>
                <h3 class="mt-6 text-xl font-semibold leading-tight md:mt-10">Select a product</h3>
                <p class="mt-2 text-base text-muted-foreground/60">Explore a wide range of products, tailored to meet
                  your needs. Simply click on the item you desire to learn more about its features, read customer
                  reviews, and add it to your cart with a single click. Whether you’re looking for the latest gadgets,
                  fashionable apparel, or unique gifts, we’ve got you covered.</p>
              </div>

              <div>
                <div
                  class="flex items-center justify-center w-16 h-16 mx-auto bg-[--accent-color] border-2 border-[--accent-color] rounded-full shadow">
                  <span class="text-xl font-semibold text-white"> 2 </span>
                </div>
                <h3 class="mt-6 text-xl font-semibold leading-tight md:mt-10">Pay the invoice</h3>
                <p class="mt-2 text-base text-muted-foreground/60">Proceed to checkout where you can review your
                  selected items and total cost. Choose from multiple payment options to finalize your order. Our secure
                  payment gateway ensures that your transaction is protected, giving you peace of mind. Enter your
                  billing information, apply any discount codes, and confirm your purchase effortlessly.

                </p>
              </div>

              <div>
                <div
                  class="flex items-center justify-center w-16 h-16 mx-auto bg-[--accent-color] border-2 border-[--accent-color] rounded-full shadow">
                  <span class="text-xl font-semibold text-white"> 3 </span>
                </div>
                <h3 class="mt-6 text-xl font-semibold leading-tight md:mt-10">Receive Product</h3>
                <p class="mt-2 text-base text-muted-foreground/60">Once your payment is confirmed, we’ll process and
                  ship your order promptly. You’ll receive a tracking number so you can monitor your shipment’s
                  progress. Depending on your location and the shipping option chosen, your item will arrive at your
                  doorstep in no time. Enjoy your new purchase and thank you for shopping with us!

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>